.moleboard *,
.moleboard-container * {
  user-select: none;   
  -webkit-user-select: none;
  -ms-user-select: none;
}

.moleboard-container {
  margin: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-family: var(--robotoSlab);
}

.headerText {
  text-align: center;
  margin: 1rem;
  font-family: var(--robotoSlab);
}

.game-p {
  font-size: 1.2rem;
  font-weight: 400;
}

.withBorder {
  background-color: var(--medium-green);
  border: 5px dashed var(--dark-green);
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 100%;
  max-width: 440px;
}

.top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.moleboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 430px;
  height: auto;
  margin: 1rem;
  background-color: var(--white);
  border: 5px dashed var(--red);
  border-radius: 1rem;
  padding: 1rem;
}

@media only screen and (min-width: 768px), only screen and (orientation: landscape) {
  .moleboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
}

.moleboard-container {
  flex-direction: row;
}

.withBorder {
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  max-width: 12rem;
  height: fit-content;
  padding: 2rem;
}

.top, .bottom {
  border-radius: 1rem;
}

}