
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background: repeating-linear-gradient(
    to right,
   var(--red),
   var(--red) 20px,
   var(--white) 20px,
   var(--white) 40px
  );
  }
  
  .logo {
    font-family: var(--headerFont); 
    font-weight: normal;
    font-size: 4rem;
    color: var(--light-green);
     -webkit-text-stroke: 1px var(--dark-green);
  text-shadow:
    -1px -1px 0 var(--dark-green),
     1px -1px 0 var(--dark-green),
    -1px  1px 0 var(--dark-green),
     1px  1px 0 var(--dark-green);
     grid-column: 2/3;
     grid-row: 1/2;
     z-index: 1;


  }
  
  .logo-img  {
    height: 8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 0;
    object-fit: cover;
  }
  