.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: repeating-linear-gradient(
    to right,
    #e73f3f 0px,
    #e73f3f 20px,
    #ffffff 20px,
    #ffffff 40px
  );
}

.logo {
  font-family: var(--headerFlavor);
  font-weight: normal;
  font-size: clamp(2rem, 15vw, 4rem);
  color: var(--light-green);
  -webkit-text-stroke: 1px var(--dark-green);
  text-shadow: -1px -1px 0 var(--dark-green), 1px -1px 0 var(--dark-green),
    -1px 1px 0 var(--dark-green), 1px 1px 0 var(--dark-green);
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
}

.logo-img {
  height: 8rem;
  width: auto;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 0;
}
