.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: repeating-linear-gradient(
    to right,
    #e73f3f 0px,
    #e73f3f 20px,
    #ffffff 20px,
    #ffffff 40px
  );
}

.footer-p {
font-family: var(--font-roboto-slab);
font-size: 2rem;
color: var(--light-green);
-webkit-text-stroke: 1px var(--dark-green);
text-shadow: -1px -1px 0 var(--dark-green), 1px -1px 0 var(--dark-green),
  -1px 1px 0 var(--dark-green), 1px 1px 0 var(--dark-green);

}

.copyrightText {
  font-size: 1rem;
  color: black;
}
